:root {
    background-size: 25;
}


body{
    color: white;
    background-color: black;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.game-container{
    background-color: #451111;
    position: relative;
    width: 402px;
    height: 248px;
    margin: 0 auto;
    outline: 3px solid white;   
    
    transform: scale(2) translateY(50%); /*x2 the og size + moving it to center the scale*/
}

.game-container canvas{
    image-rendering:pixelated; 
}


.plixelart{
    image-rendering: pixelated;
}

.Character{
    width: calc(110px * var(--pixel-size));
    height: calc(110px * var(--pixel-size)); 
    margin: 3em auto;
    overflow: hidden;
    position: relative;
}




.navigation{
    display: inline;
}

.btn{
    background-color: transparent; 
    border: none;
}
.carrotbtn{
    height: 35px;
    width: 35px;
}